 

@font-face {
    font-family: "Computer Modern";
    src: url('fonts/otf/otfcmunss.otf');
  }

@font-face {
    font-family: "Computer Modern";
    src: url('fonts/otf/cmunsx.otf');
    font-weight: bold;
  }

@font-face {
    font-family: "Computer Modern";
    src: url('fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }

  body {
    font-family: "Computer Modern", sans-serif;
    padding-top: 54px;

  }

  @media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
} 

#map_canvas {background: transparent url(../images/42.gif) no-repeat center center;}

/* GOOGLE MAPS */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}